<!DOCTYPE html>
<html class="no-js" lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<head>
      
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Title</title>
	
			<meta name="keywords" content="Latin American Food, Latin Food, Latin, Mexican Food, Mexican, Wine, Wine Bar, Natural Wine Bar, Cocktails, Craft Cocktails, Natural Wine, Award Winning, James Beard, Brunch, Mexican Brunch, Lunch">
			<meta name="description" content="Colonia Verde is inspired by the hearth of Latin American fincas. We're built on the principle that food tastes better when shared for the vibrant community of Fort Greene.">
			<link rel="icon" href="{{ url_for('static', filename='img/cv-landing-logo.png')}}">
		<link rel="canonical" href="index.html">
		<script type="text/javascript" src="{{ url_for('static', filename='js/head.min.js')}}"></script>
		<script type="text/javascript">
				WebFont.load({custom: { families: ["DomCausal", "Epsilon CTT", "Globus", "DomCausal"] }});
			</script>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<script type="text/javascript">
			Modernizr.addTest("maybemobile", function(){ return (Modernizr.touchevents && Modernizr.mq("only screen and (max-width: 768px)")) ? true : false; });
		</script>

		<script type="text/javascript">
				window.Sensei = { settings: 
									{ store: 
										{ enabled: false, cart_quantity: null }, 
									  gmaps: { apikey: "AIzaSyCxtTPdJqQMOwjsbKBO3adqPGzBR1MgC5g", 
									  styles: [{"featureType":"water","elementType":"geometry",
									  "stylers":[{"color":"#e9e9e9"},{"lightness":17}]},
									  {"featureType":"landscape","elementType":"geometry",
									  "stylers":[{"color":"#ebe7c7"},{"lightness":20}]},
									  {"featureType":"road.highway","elementType":"geometry.fill",
									  "stylers":[{"color":"#ffffff"},{"lightness":17}]},
									  {"featureType":"road.highway","elementType":"geometry.stroke",
									  "stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},
									  {"featureType":"road.arterial","elementType":"geometry",
									  "stylers":[{"color":"#ffffff"},{"lightness":18}]},
									  {"featureType":"road.local","elementType":"geometry",
									  "stylers":[{"color":"#ffffff"},{"lightness":16}]},
									  {"featureType":"poi","elementType":"geometry",
									  "stylers":[{"color":"#ebe7c7"},{"lightness":21}]},
									  {"featureType":"poi.park","elementType":"geometry",
									  "stylers":[{"color":"#dedede"},{"lightness":21}]},
									  {"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},
									  {"color":"#ffffff"},{"lightness":16}]},
									  {"elementType":"labels.text.fill",
									  "stylers":[{"color":"#333333"},{"lightness":40}]},
									  {"elementType":"labels.icon","stylers":[{"visibility":"off"}]},
									  {"featureType":"transit","elementType":"geometry",
									  "stylers":[{"color":"#f2f2f2"},{"lightness":19}]},
									  {"featureType":"administrative","elementType":"geometry.fill",
									  "stylers":[{"color":"#fefefe"},{"lightness":20}]},
									  {"featureType":"administrative","elementType":"geometry.stroke",
									  "stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}], 
									  icon: "https://images.getbento.com/accounts/b364399694ba06197e9f6c7181cb6ed0/media/images/45687map-pin.png", 
									  mobile_icon: "https%3A//images.getbento.com/accounts/b364399694ba06197e9f6c7181cb6ed0/media/images/45687map-pin.png%3Fw%3D50%26fit%3Dmax%26auto%3Dcompress%2Cformat" }, 
									  galleries: { autoplay: false, fade: true }, 
									  heros: { autoplay_galleries: true }, 
									  srcset_enabled: false }, modernizr: window.Modernizr };
		</script>

	</head>
	
    <body class="has-hero-intent has-hospitality has-mobi-footer menus-template has-nav-address-bar">
			
		<header class="site-header">
			<a href="#main-content" class="skip">Skip to main content</a>
			<div class="site-header-desktop">
					<div class="site-header-desktop-secondary">
						<div class="container">
							<div class="row">
					</div>
				</div>
					</div>
				<div class="site-header-desktop-primary" data-header-sticky>
					<div class="container">
						
			<div class="site-logo">
				<a class="site-logo__btn" href="index.html">
					<img class="site-logo__expanded" src="{{ url_for('static', filename='img/27383cv-logo.png')}}" 
						alt="Colonia Verde Home"/>   
				</a>
			</div>

					</div>
				</div>
			</div>
		<div class="site-header-mobi">
			
			<div class="site-logo">
				<a class="site-logo__btn" href="index.html">
					<img src="{{ url_for('static', filename='img/27383cv-logo.png')}}" 
						alt="Colonia Verde Home"/>        
				</a>
			</div>
		</div>
		</header>	

		<div class="site-content">
			<main class="site-content__main">
				<span id="main-content" class="sr-only">
					Main content starts here, tab to start navigating
				</span>		
				
				<section id="hero" class="hero hero--no-content hero--gallery revealable">		
					<div class="gallery gallery--fit">        
						<div>			
							<div class="gallery__item gallery__item-fallback" style="background-image: url('../static/img/19731180622_ColoniaVerde_MenuUpdate-68417.jpg')">
								<img class="sr-only"   alt="a plate of food on a table">
							</div>
						</div>	
					</div>
				</section>

				<section id="intro" class="content c-intro container-sm revealable">
					<h1>Menus</h1>
				</section>


				<section id="menus" class="content revealable">
					<div class="tabs">
						<ul class="tabs-nav" role="tablist">
							{% for category in data.keys() %}
							<li role="presentation">
								<a id="tab-{{loop.index}}"
									class="btn btn-tabs active"
									href="#{{loop.index}}"
									role="tab"
									aria-controls=""
									{% if loop.index == 1 %} 
										aria-selected="true"
									{% else %} 
										aria-selected="false"
									{% endif %}
									data-order="{{loop.index}}"
									{% if loop.index == 1 %} 
										tabindex="0"
									{% else %} 
										tabindex="-1"
									{% endif %}
									>{{category}}</a>
							</li>
							{% endfor %}
						</ul>
						
						<div class="tabs-content">

							
{% for category in data.keys() %}
<section id="{{loop.index}}"
class="tabs-panel tabs-panel--active tabs-panel--show"
role="tabpanel"
aria-labelledby="tab-{{loop.index}}"
aria-selected="false">	

<div class="container">
<div class="row">
    <div class="col-md-6">
        <section class="menu-section">
            <div class="menu-section__header_2">
                <h2>{{loop.index}}</h2>
            </div>

            <h1>{{category}}</h1>
        </section>
		{% for subcategory in data[category].keys() %}
        <section class="menu-section">
                <div class="menu-section__header">
                    <h2>{{subcategory}}</h2>
                </div>

                <ul>
					{% for dish in data[category][subcategory] %}
                    <li class="menu-item">
						<button type="button" class="collapsible">{{dish[0]}}</button>
						<div class="content-to-collapse"> <!-- style="background-image: url('static/img/1280IMG_3338b729.jpg')"-->
							<img src="static/img/1280IMG_3338b729.jpg">
						</div>
                        <p>{{dish[1]}}</p>
                        <p class="menu-item__details menu-item__details--price">
                            <strong><span class="menu-item__currency">UAH</span>{{dish[2]}}
                            </strong>
                        </p>
					</li>
					{% endfor %}
                </ul>
        </section>
		{% endfor%}
    </div>
</div>
</div>
</section>
{% endfor %}

						</div>
					</div>
				</section>
	
			</main>
		</div>

		<script type="text/javascript" src="{{ url_for('static', filename='js/foot.libs.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bentobox.min.js') }}"></script>
	</body>
</html>